body {
	margin: 0;
	padding: 0;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: #CBB9A8;
}

header {
	display: flex;
	align-items: center;
	color: white;
	height: 100px;
	background-color: #352D39;
}

header > h1 {
	margin-left: 75px;
}

aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	position: fixed;
	height: 100%;
	width: 300px;
	padding-top: 40px;
	background-color: #FF6978;
}

#viewBtns {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#allTodosBtn,
#todayBtn,
#addProjectBtn,
#addTodoBtn {
	width: 200px;
	height: 40px;
	border: none;
	border-radius: 15px;
	color: black;
	font-size: large;
	font-weight: bold;
	background-color: #FFFCF9;
}

#allTodosBtn:hover,
#todayBtn:hover,
#addProjectBtn:hover,
#addTodoBtn:hover {
	cursor: pointer;
	background-color: #1F271B;
	color: white;
}

.project-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.project-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 40px;
	color: white;
	text-align: center;
	border-radius: 15px;
	gap: 50px;
}

.project-item:hover {
	cursor: pointer;
	background-color: #1F271B;
	color: white;
}

.remove-project {
	background-color: #FF6978;
	border: none;
	color: white;
	height: 20px;
}

.remove-project:hover {
	background-color: #1F271B;
	color: white;
	cursor: pointer;
}

#projectList {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#todoList {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	position: fixed;
	margin-left: 350px;
	padding-top: 40px;
	gap: 20px;
}

#addTodoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

#todoInput {
	width: 500px;
	height: 30px;
	border: 2px solid gray;
	border-radius: 15px;
	text-align: center;
}

#submitTodoButtons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
}

#submitTodoBtn,
#cancelSubmitTodoBtn {
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 15px;
	background-color: white;
	color: black;
	font-size: large;
	font-weight: bold;
}

#submitTodoBtn:hover,
#cancelSubmitTodoBtn:hover {
	border: 2px solid white;
	background-color: #1F271B;
	color: white;
	cursor: pointer;
}

#submitTodoBtn {
	background-color: greenyellow;
}

#cancelSubmitTodoBtn {
	background-color: red;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	width: 1000px;
	height: 30px;
}

.todo-item:hover {
	background-color:#CBB9C9;
	border-radius: 15px;
}

.complete-todo {
	border: none;
	color: black;
	border-radius: 15px;
	width: 100px;
	height: 30px;
}

.complete-todo:hover {
	background-color: #1F271B;
	color: white;
	cursor: pointer;
}

.due-date {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 100px;
}

.due-date:hover {
	cursor: pointer;
	background-color: #1F271B;
	color: white;
	border-radius: 15px;
}