body {
	margin: 0;
	padding: 0;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: #CBB9A8;
}

header {
	display: flex;
	align-items: center;
	color: white;
	height: 100px;
	background-color: #1F271B;
}

header > h1 {
	margin-left: 100px;
}

aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	position: fixed;
	height: 100%;
	width: 300px;
	padding-top: 40px;
	background-color: #0B4F6C;
}

#viewBtns {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#allTodosBtn,
#todayBtn,
#addProjectBtn {
	width: 200px;
	height: 40px;
	border: none;
	border-radius: 15px;
	color: white;
	font-size: large;
	font-weight: bold;
	background-color: #145C9E;
}

#allTodosBtn:hover,
#todayBtn:hover,
#addProjectBtn:hover {
	cursor: pointer;
	background-color: #1F271B;
}

.project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 40px;
	color: white;
	text-align: center;
	border-radius: 15px;
}

.project-item:hover {
	cursor: pointer;
	background-color: #1F271B;
	color: white;
}

#projectList {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#todoList {
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: fixed;
	margin-left: 350px;

}

.todo-item {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	width: 500px;

	border: 1px solid red;
}